@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}
.user-img{
  width: 50px;
  border-radius:  100%;
  border: 1px solid #000000;
}
.content {
  max-width: 600px;
  margin: auto auto;
  padding: 20px;
}

.tuke_logo{
  width: 50px;
}

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 5rem;
  background: rgb(128, 131, 219);
  padding: .4rem .8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .content{
  left: 250px;
  width: calc(100%-250px);
}

.sidebar.active{
  width: 250px;
}

.sidebar #btn{
  position: absolute;
  color: #000000;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;

}

.sidebar.active #btn{
  left: 90%;
  top: 23px;
}

.sidebar .top .logo{
  color: #000000;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;

}

.sidebar.active .top .logo{
  opacity: 1;
}
.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.user p {
  color: #000000;
  margin-left: 1rem;
  opacity: 1;
  
}

.user{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.bold {
  font-weight: 600;
}


.sidebar p{
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 100%;
  margin: 0.8rem auto;
  line-height: 50px;
  /* background-color: #767676; */
}

.sidebar ul li a {
  color: #000000;
  display: flex;
  align-items: right;
  text-decoration: none;
  border: 0.8rem;

}

.sidebar ul li a:hover{
  background-color: #fff;
  color: #000;

}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item{
  opacity: 0;
  align-items: right;
  width: 400px;
  display: none;
  
}

.sidebar.active .nav-item{
  opacity: 1;
  display: flex;
  
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow:0 0.5rem 0.8rem rgba(0, 0, 0, 0.2) ;
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height:1.8rem ;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebar.active ul li .tooltip{
  display: none;
}

.main-content{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
  
}

.content{
  /* background-color: #767676; */
  display: grid;
}

h1{
  place-self: center;
  margin-bottom: 10%;
}



.K-map{
  position: absolute;
  top: 30%;
  left: 45%;
}

#submitBtn {
  /* position: center; */
  width: 100px;
  height: 30px;
  background-color: #13b245;
  color: #fffdfd;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
  
}

#generateBtn {
  place-self: center;
  width: 100px;
  height: 30px;
  background-color: #13b245;
  color: #fffdfd;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
  margin-bottom: 1rem;
  
}
#createTree{
  place-self: center;
  width: 100px;
  height: 30px;
  background-color: #426dcc;
  color: #fffdfd;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
  margin-bottom: 1rem;
}

#addImplicant{
  width: 100px;
  height: 30px;
  background-color: #1368b2;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
}

#finishImplicant{
  
  width: 120px;
  height: 30px;
  background-color: #1368b2;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
}

#cornerImplicant{
  width: 120px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
}
#cornerImplicant:hover {
  background-color: #f2f2f2;
}

#cornerImplicant:active {
  background-color: #d9d9d9;
}


.Buttons {
  display: inline-block;
  margin-right: 10px;
  /* width: 37rem; */
 }
 
  #button0 {
  width: 40px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #000000;
  font-weight: bold;
 }

 #button1 {
  width: 40px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid #000000;
  font-weight: bold;
 }
 #autofill{
  width: 80px;
  height: 30px;
  background-color: #1368b2;
  color: #fffdfd;
  border: 1px solid #ffffff;
  border-radius: 3px;
  /* font-size: 10px; */
  font-weight: bold;
  cursor: pointer; 
  margin-left: 10px;
 }
 
.settings{
  display: block;
  margin: 3px;
  place-self: center;
  /* width: max-content; */
}

/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar.active{
    width: 100%;
  }

} */




:disabled{
  display: none;
}

/* .karnaugh-map {
  position: relative;
  display: flex;
  margin: 50px;
}

.row{
  display: table-row;
}

.cell {
  border: 0.5px solid #000;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 40px;
} */


.Kmap{
  display: grid;
  /* width: max-content; */
  width: 100%;
}
.karnaugh-map {
  display: inline-block;
  border: 1px solid rgb(75, 43, 43);
  place-self: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 0.2px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
}

.cell:hover {
  background-color: rgb(235, 233, 233);
  color: rgb(0, 0, 0);
}

#tableSize{
  margin-right: 3px;
  height: 30px;
}

.container{
  display: flex;
  position: relative;
  /* place-self: center; */

}

/* .container canvas, .karnaugh-map {
  position: absolute;
  top: 50%;
  left: 25%;
} */

canvas{
  border: 1px solid black;
}

#containerWrapper{
  display: grid;
  place-self: center;
}

/* Style the select element */
select {
  /* width: 150px;
  height: 20px; /* Set the height of the select element */
  font-size: 14px; /* Set the font size of the select element */
  font-family: Arial, sans-serif; /* Set the font family of the select element */
  border: 2px solid #5f5e5e; /* Set the border of the select element */
  border-radius: 10px; /* Set the border radius of the select element */
  appearance: none; /* Remove the default appearance of the select element */
  background-color: rgb(255, 255, 255); /* Set the background color of the select element */
  padding: 5px 10px; /* Set the padding of the select element */
}

/* Style the option elements */
option {
  color: black; /* Set the text color of the option elements */
  background-color: white; /* Set the background color of the option elements */
}

/* Style the option elements when they are hovered */
option:hover {
  color: white; /* Set the text color of the option elements when they are hovered */
  background-color: #39f; /* Set the background color of the option elements when they are hovered */
}

/* Style the option elements when they are selected */
option:checked {
  color: white; /* Set the text color of the option elements when they are selected */
  background-color: #39f; /* Set the background color of the option elements when they are selected */
}

/* Add a custom arrow to the select element */
select::after {
  content: "▼"; /* Set the content of the pseudo-element */
  position: absolute; /* Position the pseudo-element */
  right: 15px; /* Set the right position of the pseudo-element */
  top: 50%; /* Set the top position of the pseudo-element */
  transform: translateY(-50%); /* Center the pseudo-element vertically */
  color: #ccc; /* Set the color of the pseudo-element */
  pointer-events: none; /* Prevent the pseudo-element from being clickable */
}

.content{
  display: flex;
  position: relative;
  transition: all 0.5s ease;
}

p{
  color: #000;
  /* font-family: Montserrat; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: #1368b2;  */
}              

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  /* background-color: #39f; */
  /* width: 50rem; */
}


.ast{
  display: grid;
}
#fulltree{
  height: 80%;
  width: 100%;
}

#asth1{
  place-self: center;
}

/* src/App.css */
.app {
  text-align: center;
}

.ast {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.node {
  padding: 10px;
  margin: 5px;
  border: 1px solid #333;
  background-color: #f0f0f0;
  border-radius: 5px;
}


/* src/App.css */
/* body {
  font-family: 'Arial', sans-serif;
}

.app {
  text-align: center;
}

.syntax-tree {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.node {
  padding: 10px;
  margin: 5px;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-child {
  margin-top: 20px;
}
 */

 .TreeDiv{
  display: grid;
  max-width: 100%;
 }

 .Tree{
  display: grid;
 }

 svg{
  cursor: pointer;

 }